<!-- videos/templates/videos/detail.html -->
{% extends 'vault/base.html' %}
{% block content %}
  <h2>{{ video.title }}</h2>
  <p><strong>Channel:</strong> {{ video.channel }} | <strong>Views:</strong> {{ video.views }}</p>
  <!-- Embedded YouTube video -->
  <div class="ratio ratio-16x9 mb-3">
    <iframe src="https://www.youtube.com/embed/{{ video.id }}" title="YouTube video player" allowfullscreen></iframe>
  </div>
  <p>{{ video.description }}</p>
  <!-- Download and Share buttons -->
  <a href="{% url 'vault:download_video' video.id %}" class="btn btn-success mb-3">Download Video</a>
  <h4>Share this video:</h4>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ video.url|urlencode }}" 
     target="_blank" class="btn btn-primary me-2">Facebook</a>
  <a href="https://twitter.com/intent/tweet?url={{ video.url|urlencode }}&text={{ video.title|urlencode }}" 
     target="_blank" class="btn btn-info">Twitter</a>
  <p class="mt-4"><a href="{% url 'vault:search' %}" class="btn btn-secondary">Back to Search</a></p>
{% endblock %}